#makeCacheMatrix is a function that creates a special matrix object.
#makeCacheMatrix is a list containing a function to set the value of the matrix, get the value of the matrix, set the value of the reverse and get the value of the reverse.
makeCacheMatrix <- function(x = matrix()) {
             m <- NULL
             # Set the value of the matrix
         set <- function(y) {
       x <<- y
    m <<- NULL
            }
    # Get the value of the matrix
     get <- function() x
    # Set the reverse of the matrix
         setreverse<- function(reverse) m <<-reverse
    # Get the reverse of the matrix
  getreverse <- function() m
  list(set = set, get = get,
         setreverse = setreverse,
  getreverse = getreverse)
              
        }


 # The function cacheSolve calculates the inverse of the matrix created with the makeCacheMatrix function.

 cacheSolve <- function(x, ...) {
                   # it first checks to see if the reverse has already been calculated. If so, it get the reverse from the cache and skips the computation. 
                            m <- x$getreverse()
                  if (!is.null(m)) {
                          message("getting cached reverse matrix")
                                    return(m)
                          # otherwise it Calculates the reverse of the matrix and set the value of the reverse in the cache via setreverse function
                         } else {
                                   m <- solve(x$get())
                                         x$setreverse(m)
                            return(m)
                                     }}
                